<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pupil Info</title>
</head>
<body>
<br>
This is pupil info page
<br>
<br>

Pupil name: <span th:text="${param.pupilName}"/>
<!--    В фигурных скобках param.pupilName означает что мы введём вместо текста подсказки-->
<!--    то (т.е. этот параметр) и отобразится в открываемой после этого странице после двоеточия-->
<!--    Это же отобразится и в браузере в адресной строке после -->
<!--    вопроса, названия поля (pupilName), знака = -->
<!--    Если мы введём несколько слов между которыми пробел-->
<!--    то в адресной строке вместо пробела отобразится знак +-->

<br>
<br>

Pupil correct name: <span th:text="${correctName}"/>

</body>
</html>